<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="DBConnect.NorthwindConnectionString" connectionString="Provider=SQLOLEDB.1;&#xD;&#xA;			 Integrated Security=SSPI;Persist Security Info=False;&#xD;&#xA;			 Initial Catalog=Northwind;Data Source=beast-machine"
   providerName="System.Data.OleDb" />
  <add name="ITMO.ADO.NET.Lab4.Ex._1.DataSetDesigner.Properties.Settings.NorthwindConnectionString"
   connectionString="Data Source=beast-machine;Initial Catalog=Northwind;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>